/* HEADER */
@font-face {
    font-family: 'TT-Fors-Trial-Light';
    src: url('fonts/TT\ Fors\ Trial\ Light.ttf');
}

@font-face {
    font-family: 'TT-Fors-Trial-Medium';
    src: url('fonts/TT\ Fors\ Trial\ Medium.ttf');
}

@font-face {
    font-family: 'TT-Fors-Trial-Regular';
    src: url('fonts/TT\ Fors\ Trial\ Regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'TT-Fors-Trial-Medium', sans-serif;
}

html {
    scroll-behavior: 3s;
}

header>.prehead {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header img {
    width: 15%;
}

header>.prehead>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 3em;
}


header>.prehead>div h1 {
    font-size: xx-large;
    font-weight: bold;
}


nav {
    background-color: #9c8168;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    margin-top: 0%;
    z-index: 2;
    position: sticky;
}

header>nav>ul {
    list-style: none;
    font-size: larger;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    /*  bordure basse du bloc + couleur --> meme hauteur que hover*/
    padding: 10px 0px;
    /* descendre la bordure*/
}

nav a:hover {
    border-bottom: 2px solid #849641;
    /* bordure basse quand souris */
}


.scroll {
    position: fixed;
    top: 0%;
}


/* CAROUSEL*/

.landscape img {
    width: 100%;
}


/* PROF */

.prof {
    padding-bottom: 5%;
}

.prof h1 {
    padding-top: 3%;
    padding-bottom: 1%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: xx-large;
}


.prof ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 22%;
    text-align: center;
}

.prof ul li {
    line-height: 1.5;
    list-style: none;
}

.prof img {
    text-align: center;
    width: 60%;
}

.prof h2 {
    margin-top: -8%;
}

/*HEADER TREES*/

.olive-trees .header {
    display: flex;
    text-align: right;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.olive-trees .header .addView .toggleAddButton {
    background-color: #9C8168;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2em;
    margin-left: 20px;
}

.olive-trees .header .searchForm {
    padding: 20px;
    background-color: #9C8168;
    border-radius: 20px;
}

.olive-trees .header .addViewForm{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color:#9C8168;
    color: white;
    border-radius: 20px;
}



/* TREES */

.olive-trees .mainView table {
    display: flex;
    justify-content: center;
    background-color: #849641;
    color: white;
    border-radius: 20px;
    margin: 50px;
}

.olive-trees .mainView table .data td {
    padding: 30px;
}

.olive-trees .mainView table tr td a {
    color: white;
}

.olive-trees .mainView table tr {
    text-align: center;
}

.olive-trees tr .toggleEditButton {
    background-color: #9C8168;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    padding: 5px;
}

.olive-trees .tabButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9C8168;
    color: white;
    border-radius: 30px;
    margin: 50px;
    padding: 10px;
}

.olive-trees .tabButton button{
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.25em;
    text-align: center;
    margin: 10px;
}

/*


/* Contact */

.contact {
    margin-top: 2%;
    background-color: #007A74;
    padding-bottom: 5%;
}

.contact div h1 {
    padding-right: 3%;
}

.contact>form {
    margin-left: 22%;
    margin-right: 22%;
}

.contact div {
    padding-top: 8%;
    padding-bottom: 1%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    font-size: xx-large;
}


.contact div>input {
    background-color: transparent;
    border: none;
    color: white;
    padding: 12px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
    border: 2px solid white;

}

.contact textarea {
    background-color: transparent;
    border: 3px solid white;
    color: white;
    width: 100%;
    height: 180px;
    margin-top: 2%;
    text-align: center;
    vertical-align: middle;
}

.contact button {
    display: inherit;
    letter-spacing: 3px;
    font-size: 1.125rem;
    text-align: center;
    font-weight: 700;
    border-style: solid;
    margin: 32px 0 0 0;
    padding: 16px 2px 16px 2px;
    background-color: rgba(255, 255, 255, 0.639);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 19%;
}

.contact button:hover {
    background-color: transparent;
    color: #769a5a;
    cursor: pointer;
}

.contact input:focus,
.contact textarea:focus {
    outline: none;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    background-color: #02534d;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    top: 25%;
    margin-left: 5%;
    background-color: transparent;
    width: 85%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color:#9C8168;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-radius: 20px;
  }

  .modal-body {
    margin-top: 1%;
  }
  
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }